doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content="Basel Alghanem's Personal Website")
        meta(name='author', content='Basel Alghanem')
        meta(name="google-site-verification" content="7V5m_EME-GpbyJ5ON3wUa9Oo5z2HNNzlB1RodwebCeI")

        title Basel Alghanem's personal site

        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
        link(rel="manifest" href="assets/img/site.webmanifest")
        link(rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="assets/img/favicon.ico")
        meta(name="apple-mobile-web-app-title" content="basel's site")
        meta(name="application-name" content="basel's site")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="assets/img/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")
        
        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        
    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Basel Alghanem
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/DSC_0029_10p.jpg', alt='Basel Alghanem headshot')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    // li.nav-item
                    //     a.nav-link.js-scroll-trigger(href='#skills') Skills
                    // li.nav-item
                    //     a.nav-link.js-scroll-trigger(href='#interests') Interests
                    // li.nav-item
                    //     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Basel
                        span.text-primary Alghanem
                    p.lead.mb-5
                        | Hi! I'm Basel. I'm a robotics engineer living in Pittsburgh, PA. I care about the social impact of robotics. When I'm not working, I enjoy mentoring a FIRST Robotics team, taking photos, going camping, traveling the world, and playing Team Fortress 2.
                    p.lead.mb-5
                        | Feel free to email me at firstname@umich.edu.
                    .social-icons
                        a.social-icon(href='https://twitter.com/BaselThe2nd', target="_blank")
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.linkedin.com/in/basel-alghanem-856b9156/', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://www.instagram.com/baselthe2nd/', target="_blank")
                            i.fab.fa-instagram

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Engineer
                            .subheading.mb-3 Argo AI
                            p
                                | Classical Lidar Perception, Early and Late Sensor Fusion, Object Tracking
                        .flex-shrink-0
                            span.text-primary Jan 2019 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Software Intern
                            .subheading.mb-3 Tesla Autopilot
                            p
                                | Radar Perception, Sensor Fusion, Object Tracking
                        .flex-shrink-0
                            span.text-primary May 2018 - Aug 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Undergrad Research Assistant
                            .subheading.mb-3 ROAHM Lab at UMich
                            p
                                | Intertial Navigation System using #[a(href="https://github.com/balghane/pyUKF") custom UKF] with IMU + Odometry
                        .flex-shrink-0
                            span.text-primary May 2017 - Aug 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 ADAS Algorithm Intern
                            .subheading.mb-3 Continental
                            p
                                | Radar Perception, Object Tracking
                        .flex-shrink-0
                            span.text-primary Feb 2016 - Aug 2016

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Carnegie Mellon University
                            .subheading.mb-3 Master of Science
                            div Robotic Systems Development
                        .flex-shrink-0
                            span.text-primary Sept 2017 - Dec 2018

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 University of Michigan
                            .subheading.mb-3 Bachelor of Science
                            div Mechanical Engineering
                            div Minors in both Computer Science and Electrical Engineering
                        .flex-shrink-0
                            span.text-primary Sept 2013 - May 2017

            hr.m-0

            // Skills
            //section#skills.resume-section
            //    .resume-section-content
            //        h2.mb-5 Skills
            //        .subheading.mb-3 Programming Languages & Tools
            //        ul.list-inline.dev-icons
            //            li.list-inline-item
            //                i.fab.fa-html5
            //            li.list-inline-item
            //                i.fab.fa-css3-alt
            //            li.list-inline-item
            //                i.fab.fa-js-square
            //            li.list-inline-item
            //                i.fab.fa-angular
            //            li.list-inline-item
            //                i.fab.fa-react
            //            li.list-inline-item
            //                i.fab.fa-node-js
            //            li.list-inline-item
            //                i.fab.fa-sass
            //            li.list-inline-item
            //                i.fab.fa-less
            //            li.list-inline-item
            //                i.fab.fa-wordpress
            //            li.list-inline-item
            //                i.fab.fa-gulp
            //            li.list-inline-item
            //                i.fab.fa-grunt
            //            li.list-inline-item
            //                i.fab.fa-npm
            //        .subheading.mb-3 Workflow
            //        ul.fa-ul.mb-0
            //            li
            //                span.fa-li
            //                    i.fas.fa-check
            //                | Mobile-First, Responsive Design
            //            li
            //                span.fa-li
            //                    i.fas.fa-check
            //                | Cross Browser Testing & Debugging
            //            li
            //                span.fa-li
            //                    i.fas.fa-check
            //                | Cross Functional Teams
            //            li
            //                span.fa-li
            //                    i.fas.fa-check
            //                | Agile Development & Scrum
            //
            //hr.m-0

            // Interests
            //section#interests.resume-section
            //    .resume-section-content
            //        h2.mb-5 Interests
            //        p
            //            | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
            //        p.mb-0
            //            | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            //hr.m-0

            // Awards
            //section#awards.resume-section
            //    .resume-section-content
            //        h2.mb-5 Awards & Certifications
            //        ul.fa-ul.mb-0
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | Google Analytics Certified Developer
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | Mobile Web Specialist - Google Certification
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | 1
            //                sup st 
            //                | Place - University of Colorado Boulder - Emerging Tech Competition 2009
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | 1
            //                sup st 
            //                | Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | 2
            //                sup nd 
            //                | Place - University of Colorado Boulder - Emerging Tech Competition 2008
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | 1
            //                sup st 
            //                | Place - James Buchanan High School - Hackathon 2006
            //            li
            //                span.fa-li
            //                    i.fas.fa-trophy.text-warning
            //                | 3
            //                sup rd 
            //                | Place - James Buchanan High School - Hackathon 2005

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')