doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title basel's site

        link(rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png")
        link(rel="manifest" href="assets/img/site.webmanifest")
        link(rel="mask-icon" href="assets/img/safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="assets/img/favicon.ico")
        meta(name="apple-mobile-web-app-title" content="basel's site")
        meta(name="application-name" content="basel's site")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="msapplication-config" content="assets/img/browserconfig.xml")
        meta(name="theme-color" content="#ffffff")
        
        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

        meta(http-equiv = "refresh" content = "0; url = ./ghanem")
        
        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')