// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$blue: #0066cc;
$darkblue: #003399;

// Override Bootstrap default state colors

$primary: $darkblue;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
